/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:600px;
  font-style: normal;
}
/* Font Color    */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
    
}
.dark3{
    color: #727272;
}
/* Shared Design */
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
/* Header Section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo h3{
    font-size: 3rem;
    font-weight: 700;
}
.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 46px;
    
    
    
}
.menu li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #424242;
    

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
    
    

}
/* Banner Section Style */
.banner-content{
    width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
}
.banner-description{
    font-size: 1rem;
    
}
.banner-img{
    max-width: 100%;
    margin-bottom: 50px;
}

.display-flex{
    display: flex;
}

/* MAin Section Design */
main > section{
    max-width: 1440px;
    margin: 100px auto;
}
.team-feature{
    max-width: 540px;
    margin-left: 130px;
    
   
    
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
    border: none;
}
.teams{
    align-items: center;
}
#word-1{
    font-size: 2.9rem;
    font-weight: bold;
    color: #727272;

}
#word-2{
    font-size: 2.9rem;
    font-weight: bold;
}
#word-3{
    font-size: 2.9rem;
    font-weight: bold;
    color: #FF900E;
}
.feature-discription{
    font-size: 1rem;
    margin-bottom: 32px;

}

/* Experience part design  */
.experience-container{
    display: flex;
}
.sister{
    margin-left: 140px;
}
#bold-texts{
    border-left: 5px solid #FF900E;
    padding: 20px;

}
.bold-text{
    font-size: 2.75rem;    
    margin-bottom: 24px;
    color: #131313;
  
}
.regular-text{
    color: #727272;
    font-size: 1rem;
}
.card-container{
    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: none;
    padding: 30px ;

}
.semibold-text{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin: 0px;
    

}
#btn{
    padding: 45px 42px;
    margin: -150px  -100px;
}
#btn .years{
    font-size: 4rem;
    font-weight: bold;

}
#btn .exper{
    font-size: 1.50rem;
    font-weight: 500;
}

/* Some Fact Part Design */
#regular{
    width: 540px;
}
.fact-card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-top: 100px;
    margin-left: 50px;
}
    
.some-facts{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.fact-title{
    font-size: 2.75rem;
    color: #424242;
    margin: 0px;
}
.fact-info{
    font-size: 1.25rem;
    font-weight: 500;
    color: #727272;
    margin: 0px;
    
}
/* Sponsor part Design */
.sponsor-text{
    width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    filter: grayscale(100%);
}

/* Footer design */
.footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
}
.footer p{
    text-align: center;
    padding: 40px;
}





/*  Media Query for Mobile */
@media screen and (max-width:576px) {
    .menu ul,
    .experience-container,
     .navbar{
        flex-direction: column;
    }
    .banner-content{
    width:350px;
 }
.banner-title{
    font-size: 1.8rem;

}
.display-flex{
    flex-direction: column;
}
.team-img{
    grid-template-columns: repeat(1, 1fr);
}
.team-feature{
    margin:0px auto;
    text-align: center;
}
.sister-architect{
    width: 100%;
    
}
#btn{
    display: none;
   
}
.experience-container{
    margin: 0px 20px;
}
.fact-card{
    grid-template-columns: repeat(1,1fr);
    
    
  
}
#regular{
    width: 100%;
}
.text-container{
    margin-left: 20px ;
}
.some-facts{
    margin-bottom: 20px;
}
.sponsor-img{
    grid-template-columns: repeat(1,1fr);
    
}
.sponsor-img img{
    
    margin:0 auto 50px;
}
.sponsor-text{
    width: 350px;
}

}


/*  Media Query for Tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-content{
        width: 600px;
 }
.banner-title{
    font-size: 2.5rem;
}
.display-flex,
.experience-container{
    flex-direction: column;}
.team-feature{
    margin:0px auto;
    text-align: center;
    
}
 .menu ul, .navbar{
        margin: 0px 20px;
    }
    .experience-container{
        margin: 0px 50px;
    }
    .sister-architect{
        width: 100%;
    }

.fact-card{
    grid-template-columns: repeat(2,1fr);
}
.some-facts{
    margin-bottom: 30px;
}
.text-container{
    margin-left: 50px ;
}
.sponsor-img{
    grid-template-columns: repeat(2,1fr);
    
}
.sponsor-img img{
    
    margin:0 auto 50px;
}

}